include/capstone symlink=dir
src/arch/AArch64 symlink=dir
src/arch/Alpha symlink=dir
src/arch/ARC symlink=dir
src/arch/ARM symlink=dir
src/arch/BPF symlink=dir
src/arch/EVM symlink=dir
src/arch/HPPA symlink=dir
src/arch/LoongArch symlink=dir
src/arch/M680X symlink=dir
src/arch/M68K symlink=dir
src/arch/Mips symlink=dir
src/arch/MOS65XX symlink=dir
src/arch/PowerPC symlink=dir
src/arch/RISCV symlink=dir
src/arch/SH symlink=dir
src/arch/Sparc symlink=dir
src/arch/SystemZ symlink=dir
src/arch/TMS320C64x symlink=dir
src/arch/TriCore symlink=dir
src/arch/WASM symlink=dir
src/arch/X86 symlink=dir
src/arch/XCore symlink=dir
src/arch/Xtensa symlink=dir
